html {
  scroll-behavior: smooth;
}
.expandedImg {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#mobile-menu {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 0;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.my-float {
  margin-top: 16px;
}
.animate-fade-in {
  animation: fade-in 0.5s;
  opacity: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 833px) and (min-width: 768px) {
  .navbar {
    height: 190px;
  }
}
